CHM_CLIENT_APP/Web References/CHMSTAT/CHMSTAT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.1.213:10001/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://192.168.1.213:10001/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.1.213:10001/">
      <s:element name="Connection">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="close">
        <s:complexType />
      </s:element>
      <s:element name="closeResponse">
        <s:complexType />
      </s:element>
      <s:element name="getDate">
        <s:complexType />
      </s:element>
      <s:element name="getDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_NB_ARTICLE_EN_RUPTURE_STOCK">
        <s:complexType />
      </s:element>
      <s:element name="SELECT_NB_ARTICLE_EN_RUPTURE_STOCKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_NB_ARTICLE_EN_RUPTURE_STOCKResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCK">
        <s:complexType />
      </s:element>
      <s:element name="SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCKResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_NB_FACTURE">
        <s:complexType />
      </s:element>
      <s:element name="SELECT_NB_FACTUREResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_NB_FACTUREResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="ConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="closeSoapIn">
    <wsdl:part name="parameters" element="tns:close" />
  </wsdl:message>
  <wsdl:message name="closeSoapOut">
    <wsdl:part name="parameters" element="tns:closeResponse" />
  </wsdl:message>
  <wsdl:message name="getDateSoapIn">
    <wsdl:part name="parameters" element="tns:getDate" />
  </wsdl:message>
  <wsdl:message name="getDateSoapOut">
    <wsdl:part name="parameters" element="tns:getDateResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_NB_ARTICLE_EN_RUPTURE_STOCKSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_NB_ARTICLE_EN_RUPTURE_STOCK" />
  </wsdl:message>
  <wsdl:message name="SELECT_NB_ARTICLE_EN_RUPTURE_STOCKSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_NB_ARTICLE_EN_RUPTURE_STOCKResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCKSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCK" />
  </wsdl:message>
  <wsdl:message name="SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCKSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCKResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_NB_FACTURESoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_NB_FACTURE" />
  </wsdl:message>
  <wsdl:message name="SELECT_NB_FACTURESoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_NB_FACTUREResponse" />
  </wsdl:message>
  <wsdl:portType name="CHMSTATSoap">
    <wsdl:operation name="Connection">
      <wsdl:input message="tns:ConnectionSoapIn" />
      <wsdl:output message="tns:ConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="close">
      <wsdl:input message="tns:closeSoapIn" />
      <wsdl:output message="tns:closeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDate">
      <wsdl:input message="tns:getDateSoapIn" />
      <wsdl:output message="tns:getDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_NB_ARTICLE_EN_RUPTURE_STOCK">
      <wsdl:input message="tns:SELECT_NB_ARTICLE_EN_RUPTURE_STOCKSoapIn" />
      <wsdl:output message="tns:SELECT_NB_ARTICLE_EN_RUPTURE_STOCKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCK">
      <wsdl:input message="tns:SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCKSoapIn" />
      <wsdl:output message="tns:SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_NB_FACTURE">
      <wsdl:input message="tns:SELECT_NB_FACTURESoapIn" />
      <wsdl:output message="tns:SELECT_NB_FACTURESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CHMSTATSoap" type="tns:CHMSTATSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connection">
      <soap:operation soapAction="http://192.168.1.213:10001/Connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="close">
      <soap:operation soapAction="http://192.168.1.213:10001/close" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDate">
      <soap:operation soapAction="http://192.168.1.213:10001/getDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_NB_ARTICLE_EN_RUPTURE_STOCK">
      <soap:operation soapAction="http://192.168.1.213:10001/SELECT_NB_ARTICLE_EN_RUPTURE_STOCK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCK">
      <soap:operation soapAction="http://192.168.1.213:10001/SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_NB_FACTURE">
      <soap:operation soapAction="http://192.168.1.213:10001/SELECT_NB_FACTURE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CHMSTATSoap12" type="tns:CHMSTATSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connection">
      <soap12:operation soapAction="http://192.168.1.213:10001/Connection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="close">
      <soap12:operation soapAction="http://192.168.1.213:10001/close" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDate">
      <soap12:operation soapAction="http://192.168.1.213:10001/getDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_NB_ARTICLE_EN_RUPTURE_STOCK">
      <soap12:operation soapAction="http://192.168.1.213:10001/SELECT_NB_ARTICLE_EN_RUPTURE_STOCK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCK">
      <soap12:operation soapAction="http://192.168.1.213:10001/SELECT_DETAIL_ARTICLE_EN_RUPTURE_STOCK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_NB_FACTURE">
      <soap12:operation soapAction="http://192.168.1.213:10001/SELECT_NB_FACTURE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CHMSTAT">
    <wsdl:port name="CHMSTATSoap" binding="tns:CHMSTATSoap">
      <soap:address location="http://localhost:10001/CHMSTAT.asmx" />
    </wsdl:port>
    <wsdl:port name="CHMSTATSoap12" binding="tns:CHMSTATSoap12">
      <soap12:address location="http://localhost:10001/CHMSTAT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>