CHM_CLIENT_APP/Web References/CHM_LIGNE_ARTICLE/CHM_LIGNE_ARTICLE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.1.213:10001/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://192.168.1.213:10001/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.1.213:10001/">
      <s:element name="Connection">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="close">
        <s:complexType />
      </s:element>
      <s:element name="closeResponse">
        <s:complexType />
      </s:element>
      <s:element name="getDateS">
        <s:complexType />
      </s:element>
      <s:element name="getDateSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDateSResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListeLigneArticle">
        <s:complexType />
      </s:element>
      <s:element name="getListeLigneArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListeLigneArticleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewRefLigneArticle">
        <s:complexType />
      </s:element>
      <s:element name="getNewRefLigneArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewRefLigneArticleResult" type="tns:RESULT_QUERY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RESULT_QUERY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OK" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="loadLigneArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CODE_LIGNE" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loadLigneArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loadLigneArticleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertMarque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CODE_MARQUE" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="REF_LIGNE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESIGNATION_LIGNE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION_LIGNE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertMarqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertMarqueResult" type="tns:RESULT_QUERY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateMarque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CODE_LIGNE" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="CODE_MARQUE" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="DESIGNATION_LIGNE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION_LIGNE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateMarqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateMarqueResult" type="tns:RESULT_QUERY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteLigne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CODE_LIGNE" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteLigneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteLigneResult" type="tns:RESULT_QUERY" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="ConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="closeSoapIn">
    <wsdl:part name="parameters" element="tns:close" />
  </wsdl:message>
  <wsdl:message name="closeSoapOut">
    <wsdl:part name="parameters" element="tns:closeResponse" />
  </wsdl:message>
  <wsdl:message name="getDateSSoapIn">
    <wsdl:part name="parameters" element="tns:getDateS" />
  </wsdl:message>
  <wsdl:message name="getDateSSoapOut">
    <wsdl:part name="parameters" element="tns:getDateSResponse" />
  </wsdl:message>
  <wsdl:message name="getListeLigneArticleSoapIn">
    <wsdl:part name="parameters" element="tns:getListeLigneArticle" />
  </wsdl:message>
  <wsdl:message name="getListeLigneArticleSoapOut">
    <wsdl:part name="parameters" element="tns:getListeLigneArticleResponse" />
  </wsdl:message>
  <wsdl:message name="getNewRefLigneArticleSoapIn">
    <wsdl:part name="parameters" element="tns:getNewRefLigneArticle" />
  </wsdl:message>
  <wsdl:message name="getNewRefLigneArticleSoapOut">
    <wsdl:part name="parameters" element="tns:getNewRefLigneArticleResponse" />
  </wsdl:message>
  <wsdl:message name="loadLigneArticleSoapIn">
    <wsdl:part name="parameters" element="tns:loadLigneArticle" />
  </wsdl:message>
  <wsdl:message name="loadLigneArticleSoapOut">
    <wsdl:part name="parameters" element="tns:loadLigneArticleResponse" />
  </wsdl:message>
  <wsdl:message name="insertMarqueSoapIn">
    <wsdl:part name="parameters" element="tns:insertMarque" />
  </wsdl:message>
  <wsdl:message name="insertMarqueSoapOut">
    <wsdl:part name="parameters" element="tns:insertMarqueResponse" />
  </wsdl:message>
  <wsdl:message name="updateMarqueSoapIn">
    <wsdl:part name="parameters" element="tns:updateMarque" />
  </wsdl:message>
  <wsdl:message name="updateMarqueSoapOut">
    <wsdl:part name="parameters" element="tns:updateMarqueResponse" />
  </wsdl:message>
  <wsdl:message name="deleteLigneSoapIn">
    <wsdl:part name="parameters" element="tns:deleteLigne" />
  </wsdl:message>
  <wsdl:message name="deleteLigneSoapOut">
    <wsdl:part name="parameters" element="tns:deleteLigneResponse" />
  </wsdl:message>
  <wsdl:portType name="CHM_LIGNE_ARTICLESoap">
    <wsdl:operation name="Connection">
      <wsdl:input message="tns:ConnectionSoapIn" />
      <wsdl:output message="tns:ConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="close">
      <wsdl:input message="tns:closeSoapIn" />
      <wsdl:output message="tns:closeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDateS">
      <wsdl:input message="tns:getDateSSoapIn" />
      <wsdl:output message="tns:getDateSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListeLigneArticle">
      <wsdl:input message="tns:getListeLigneArticleSoapIn" />
      <wsdl:output message="tns:getListeLigneArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewRefLigneArticle">
      <wsdl:input message="tns:getNewRefLigneArticleSoapIn" />
      <wsdl:output message="tns:getNewRefLigneArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loadLigneArticle">
      <wsdl:input message="tns:loadLigneArticleSoapIn" />
      <wsdl:output message="tns:loadLigneArticleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertMarque">
      <wsdl:input message="tns:insertMarqueSoapIn" />
      <wsdl:output message="tns:insertMarqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateMarque">
      <wsdl:input message="tns:updateMarqueSoapIn" />
      <wsdl:output message="tns:updateMarqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteLigne">
      <wsdl:input message="tns:deleteLigneSoapIn" />
      <wsdl:output message="tns:deleteLigneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CHM_LIGNE_ARTICLESoap" type="tns:CHM_LIGNE_ARTICLESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connection">
      <soap:operation soapAction="http://192.168.1.213:10001/Connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="close">
      <soap:operation soapAction="http://192.168.1.213:10001/close" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDateS">
      <soap:operation soapAction="http://192.168.1.213:10001/getDateS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListeLigneArticle">
      <soap:operation soapAction="http://192.168.1.213:10001/getListeLigneArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewRefLigneArticle">
      <soap:operation soapAction="http://192.168.1.213:10001/getNewRefLigneArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadLigneArticle">
      <soap:operation soapAction="http://192.168.1.213:10001/loadLigneArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMarque">
      <soap:operation soapAction="http://192.168.1.213:10001/insertMarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMarque">
      <soap:operation soapAction="http://192.168.1.213:10001/updateMarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLigne">
      <soap:operation soapAction="http://192.168.1.213:10001/deleteLigne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CHM_LIGNE_ARTICLESoap12" type="tns:CHM_LIGNE_ARTICLESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connection">
      <soap12:operation soapAction="http://192.168.1.213:10001/Connection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="close">
      <soap12:operation soapAction="http://192.168.1.213:10001/close" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDateS">
      <soap12:operation soapAction="http://192.168.1.213:10001/getDateS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListeLigneArticle">
      <soap12:operation soapAction="http://192.168.1.213:10001/getListeLigneArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewRefLigneArticle">
      <soap12:operation soapAction="http://192.168.1.213:10001/getNewRefLigneArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadLigneArticle">
      <soap12:operation soapAction="http://192.168.1.213:10001/loadLigneArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMarque">
      <soap12:operation soapAction="http://192.168.1.213:10001/insertMarque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMarque">
      <soap12:operation soapAction="http://192.168.1.213:10001/updateMarque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLigne">
      <soap12:operation soapAction="http://192.168.1.213:10001/deleteLigne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CHM_LIGNE_ARTICLE">
    <wsdl:port name="CHM_LIGNE_ARTICLESoap" binding="tns:CHM_LIGNE_ARTICLESoap">
      <soap:address location="http://localhost:10001/CHM_LIGNE_ARTICLE.asmx" />
    </wsdl:port>
    <wsdl:port name="CHM_LIGNE_ARTICLESoap12" binding="tns:CHM_LIGNE_ARTICLESoap12">
      <soap12:address location="http://localhost:10001/CHM_LIGNE_ARTICLE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>