CHM_CLIENT_APP/Web References/CHMCNX/CHMCNX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.1.213:10001/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://192.168.1.213:10001/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.1.213:10001/">
      <s:element name="getDate">
        <s:complexType />
      </s:element>
      <s:element name="getDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDateSoapIn">
    <wsdl:part name="parameters" element="tns:getDate" />
  </wsdl:message>
  <wsdl:message name="getDateSoapOut">
    <wsdl:part name="parameters" element="tns:getDateResponse" />
  </wsdl:message>
  <wsdl:portType name="CHMCNXSoap">
    <wsdl:operation name="getDate">
      <wsdl:input message="tns:getDateSoapIn" />
      <wsdl:output message="tns:getDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CHMCNXSoap" type="tns:CHMCNXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDate">
      <soap:operation soapAction="http://192.168.1.213:10001/getDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CHMCNXSoap12" type="tns:CHMCNXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDate">
      <soap12:operation soapAction="http://192.168.1.213:10001/getDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CHMCNX">
    <wsdl:port name="CHMCNXSoap" binding="tns:CHMCNXSoap">
      <soap:address location="http://localhost:10001/CHMCNX.asmx" />
    </wsdl:port>
    <wsdl:port name="CHMCNXSoap12" binding="tns:CHMCNXSoap12">
      <soap12:address location="http://localhost:10001/CHMCNX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>